<section class="imprint-section">

  <h1>{{ 'imprint.title' | translate }}</h1>
  <h2>{{ 'imprint.legalInfo' | translate }}</h2>
  <address>
    Daniel Grabowski<br>
    Am Mühlenweg 3C<br>
    14669 Ketzin/Havel<br>
    {{ 'imprint.country' | translate }}
  </address>

  <h2>{{ 'imprint.euDispute' | translate }}</h2>
  <p>
    {{ 'imprint.euDisputeText1' | translate }}
    <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="noopener">
      https://ec.europa.eu/consumers/odr/
    </a>
    <br>
    {{ 'imprint.euDisputeText2' | translate }}
  </p>

  <h2>{{ 'imprint.imageCredits' | translate }}</h2>
  <p>
    {{ 'imprint.imageCreditsText' | translate }}<br>
    <strong>{{ 'imprint.imageRights' | translate }}</strong><br>
    Developer Akademie
  </p>
  <p>{{ 'imprint.copyrightText' | translate }}</p>
  <p style="margin-top:15px">
    {{ 'imprint.sourceText' | translate }} <a href="https://www.adsimple.de/impressum-generator/" title="Impressum Generator Deutschland von AdSimple">{{ 'imprint.imprintGenerator' | translate }}</a> {{ 'imprint.byAdSimple' | translate }}
  </p>

  <h1>{{ 'privacy.title' | translate }}</h1>
  <h2>{{ 'privacy.introTitle' | translate }}</h2>
  <p>
    {{ 'privacy.introText1' | translate }}
    <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=323015563#d1e2269-1-1" target="_blank" rel="noopener">
      {{ 'privacy.gdprLink' | translate }}
    </a>
    {{ 'privacy.introText2' | translate }}
  </p>
  <p>
    {{ 'privacy.introText3' | translate }}
  </p>

  <h2>{{ 'privacy.scopeTitle' | translate }}</h2>
  <p>
    {{ 'privacy.scopeText' | translate }}
  </p>
  <ul>
    <li>{{ 'privacy.scopeItem1' | translate }}</li>
    <li>{{ 'privacy.scopeItem2' | translate }}</li>
    <li>{{ 'privacy.scopeItem3' | translate }}</li>
  </ul>

  <h2>{{ 'privacy.legalBasisTitle' | translate }}</h2>
  <p>
    {{ 'privacy.legalBasisText' | translate }}
  </p>
  <ol>
    <li><strong>{{ 'privacy.consent' | translate }}</strong> {{ 'privacy.consentText' | translate }}</li>
    <li><strong>{{ 'privacy.contract' | translate }}</strong> {{ 'privacy.contractText' | translate }}</li>
    <li><strong>{{ 'privacy.legalObligation' | translate }}</strong> {{ 'privacy.legalObligationText' | translate }}</li>
    <li><strong>{{ 'privacy.legitimateInterests' | translate }}</strong> {{ 'privacy.legitimateInterestsText' | translate }}</li>
  </ol>

  <h2>{{ 'privacy.contactDataTitle' | translate }}</h2>
  <address>
    Daniel Grabowski<br>
    Am Mühlenweg 3C<br>
    14669 Ketzin/Havel<br>
    {{ 'imprint.country' | translate }}<br>
    E-Mail: <a href="mailto:info@grabowski-daniel.de">info&#64;grabowski-daniel.de</a>
  </address>

  <h2>{{ 'privacy.storageDurationTitle' | translate }}</h2>
  <p>
    {{ 'privacy.storageDurationText' | translate }}
  </p>

  <h2>{{ 'privacy.rightsTitle' | translate }}</h2>
  <ul>
    <li>{{ 'privacy.rightAccess' | translate }}</li>
    <li>{{ 'privacy.rightRectification' | translate }}</li>
    <li>{{ 'privacy.rightErasure' | translate }}</li>
    <li>{{ 'privacy.rightRestriction' | translate }}</li>
    <li>{{ 'privacy.rightPortability' | translate }}</li>
    <li>{{ 'privacy.rightObjection' | translate }}</li>
    <li>{{ 'privacy.rightComplaint' | translate }}</li>
  </ul>

  <h2>{{ 'privacy.complaintTitle' | translate }}</h2>
  <p>
    {{ 'privacy.complaintText' | translate }}
  </p>
  <p>
    <strong>{{ 'privacy.supervisoryAuthority' | translate }}</strong><br>
    Dagmar Hartge<br>
    Stahnsdorfer Damm 77, 14532 Kleinmachnow<br>
    Tel.: 03 32 03/356-0<br>
    E-Mail: <a href="mailto:poststelle@lda.brandenburg.de">poststelle&#64;lda.brandenburg.de</a><br>
    Website: <a href="https://www.lda.brandenburg.de/lda/de/" target="_blank" rel="noopener">https://www.lda.brandenburg.de/lda/de/</a>
  </p>

  <p style="margin-top:15px">
    {{ 'privacy.sourceText' | translate }} <a href="https://www.adsimple.de/datenschutz-generator/" title="Datenschutzerklärung Generator Deutschland">{{ 'privacy.privacyGenerator' | translate }}</a> {{ 'privacy.createdBy' | translate }}
  </p>

</section>