<section class="mySkills">

        <h1>My Skills</h1>
<div class="content-wrapper">

    <div class="mySkillsContent">

        

        <div class="skillSet">
            <img src="../../../assets/img/myskills/Skill_Icon_ANGULAR.png" alt="">
            <img src="../../../assets/img/myskills/Skill_Icon_TS.png" alt="">
            <img src="../../../assets/img/myskills/Skill_Icon_JS.png" alt="">
            <img src="../../../assets/img/myskills/Skill_Icon_HTML.png" alt="">
            <img src="../../../assets/img/myskills/Skill_Icon_CSS.png" alt="">
            <img src="../../../assets/img/myskills/Skill_Icon_API.png" alt="">
            <img src="../../../assets/img/myskills/Skill_Icon_GIT.png" alt="">
        </div>
        
        <div class="currentlyLearning">
            <img src="../../../assets/img/myskills/Skill Ellipse.png" alt="">
        </div>



    </div>








</div>

</section>