<section class="mySkills" id="mySkills">

        <h1>{{ 'mySkills.title' | translate }}</h1>
<div class="content-wrapper">

    <div class="mySkillsContent">

        

        <div class="skillSet">
            <img src="assets/img/myskills/Skill_Icon_ANGULAR.png" alt="">
            <img src="assets/img/myskills/Skill_Icon_TS.png" alt="">
            <img src="assets/img/myskills/Skill_Icon_JS.png" alt="">
            <img src="assets/img/myskills/Skill_Icon_HTML.png" alt="">
            <img src="assets/img/myskills/Skill_Icon_CSS.png" alt="">
            <img src="assets/img/myskills/Skill_Icon_API.png" alt="">
            <img src="assets/img/myskills/Skill_Icon_GIT.png" alt="">
        </div>
        
        <div class="currentlyLearning">
            <img src="assets/img/myskills/Skill Ellipse.png" alt="">
            <span style="display: none;" class="currentlyLearning">{{ 'mySkills.currentlyLearning' | translate }}</span>
        </div>



    </div>








</div>

</section>