.content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 64px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mySkills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #89BCD9;
    font-family: 'Anta';
    font-size: 42px;
    margin-top: 5%;    
    font-weight: 400;

}

.mySkillsContent {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 74px;
}

.skillSet{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;

        >img{ 
        width: 28px;         
          height: 100px;  
          flex: 0 0 calc(33.33% - 16px);
          box-sizing: border-box; 
        }
}

@media (max-width: 800px){

  .mySkillsContent img {
    width: 308px; /* Verkleinert die Breite der Bilder */
    height: auto; /* Passt die Höhe proportional an */
  }

  .skillSet{
    width: 200px;
  }

  .skillSet img {
    width: 40px; /* Verkleinert die Breite der Bilder */
    height: auto; /* Passt die Höhe proportional an */
  }

  .skillSet {
    gap: 12px; /* Reduziert den Abstand zwischen den Bildern */
  }
}

@media (max-width: 660px){

  .content-wrapper{
    margin: 0;
    margin-top: 16px;
    margin-right: 8px;
    max-width: 390px;
  }

  .mySkillsContent{

    margin-left: 64px;
    gap: 12px;
  }
}

@media (max-width: 605px){

  .mySkillsContent img {
    width: 276px; /* Verkleinert die Breite der Bilder */
    height: auto; /* Passt die Höhe proportional an */
  }

  .mySkillsContent{
    margin: 0;
  }

  .skillSet{
    width: 290px;
  }

  .skillSet img {
    
    height: auto; /* Passt die Höhe proportional an */
  }

  .skillSet {
    gap: 16px; /* Reduziert den Abstand zwischen den Bildern */
  }

  .currentlyLearning{

 display: none; 

}
}

@media (max-width: 490px){

  .mySkills{
    margin-top: 16px;
  }

  .mySkillsContent{
    margin-left: 0;
  }

  .skillSet img {
    
    width: 40px;
    height: auto; /* Passt die Höhe proportional an */
  }

  .skillSet{
    width: 186px;
  }

  

}