<div class="navbar-content">
<div class="content-wrapper">

  <a href="#heroSection">
<div class="logo"><img src="assets/img/navbar/logo_dark1.png" alt=""> </div>
</a>

<div class="links">
  <a (click)="scrollToSection('whyMe', $event)" [class.active-link]="activeSection === 'whyMe'"><p>{{ 'navbar.whyMe' | translate }}</p></a> 
  <a (click)="scrollToSection('mySkills', $event)" [class.active-link]="activeSection === 'mySkills'"><p>{{ 'navbar.skills' | translate }}</p></a>
  <a (click)="scrollToSection('myProjects', $event)" [class.active-link]="activeSection === 'myProjects'"><p>{{ 'navbar.projects' | translate }}</p></a>
  <a (click)="scrollToSection('contactMe', $event)" [class.active-link]="activeSection === 'contactMe'"><p>{{ 'navbar.contact' | translate }}</p></a>
</div>

<div class="languageSwitch">
    <p (click)="switchLanguage('de')">DE</p>
    <span>|</span>
    <p (click)="switchLanguage('en')">EN</p>
</div>
</div>

</div>