<div class="navbar-content">
<div class="content-wrapper">
<div class="logo"><img src="assets/img/navbar/logo_dark1.png" alt=""> </div>

<div class="links">
  <a href="#whyMe"><p>{{ 'navbar.whyMe' | translate }}</p></a> 
  <a href="#mySkills"><p>{{ 'navbar.skills' | translate }}</p></a>
  <a href="#myProjects"><p>{{ 'navbar.projects' | translate }}</p></a>
  <a href="#contactMe"><p>{{ 'navbar.contact' | translate }}</p></a>
</div>

<div class="languageSwitch">
    <p (click)="switchLanguage('de')">DE</p> | <p (click)="switchLanguage('en')">EN</p>
</div>
</div>

</div>