* {
  background: none;
}

:host {
  background: none;
  background-color: #89bcd9;
  display: block;
  width: 100%;  
  height: 86px;
  margin: 0;
  margin-top: 0;
  position: relative;
  z-index: 20;
}

.navbar-content {
  background: none;
  background-color: #89bcd9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 32px;

    >img{
        width: auto;
        max-width: 120px;
        height: 58px;
      object-fit: contain;
      display: block;

    }
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%; 
    
    font-family: 'Josefin Sans';
    font-weight: 500;
}

.languageSwitch{
    display: flex;
    flex-direction: row;
    padding-right: 32px;
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links a:link,
.links a:visited,
.links a:active {
  color: inherit;
  text-decoration: none;
}
