<section class="myProjects" id="myProjects">
  <div class="content-wrapper">
    <h1>{{ 'myProjects.title' | translate }}</h1>

    <div class="myProjectsContent">
      <div class="myProjectsHeadlines">
        <div class="projectOne" #projectOne  (click)="switchProjectOne()">1. El Pollo Loco</div>
        <div class="projectTwo" #projectTwo (click)="switchProjectTwo()">2</div>
        <div class="projectThree" #projectThree (click)="switchProjectThree()">3</div>
        <div class="projectFour" #projectFour (click)="switchProjectFour()">4</div>
      </div>

      <div class="aboutProject">

        <div class="contentProjectOne" #contentProjectOne>
          <div class="projectText">
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 5 weeks</span>
              </h3>
            </div>
            <p>
              A simple Jump-and-Run game based on an object-oriented approach.<br />
              Help Pepe to find coins and hot sauce bottles to fight against small chicken
              and at the end the giant monster chicken.
            </p>
          </div>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>How I have organised my work process</h3>
            </div>
            <p>How do you keep your code clean and maintainable? Have you broken the project down into reusable modules or components? Focus on documentation, naming files, variables, classes and testing.</p>
          </div>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>What I have learnt</h3>
            </div>
            <p>As someone who is always trying to learn new technologies, you may have enjoyed working on this project because it allowed you to delve deep into a particular technology.
              Give details, such as the name of the framework or language you mean.</p>
          </div>

          <div class="testAndGitLinksResponsive">
            <a href="https://daniel-grabowski.developerakademie.net/devakademie/Kurs/Modul_12/El-Pollo-Loco/index.html" target="_blank" rel="noopener">Live Test</a>
            <a href="https://github.com/FrontendWookiee187/El-Pollo-Loco.git" target="_blank" rel="noopener">GitHub</a>
          </div>

          </div>
          <div class="technologiesAndScreenshot">
          <div class="technologies">
            <div class="techHeadline">Technologies</div>
            <div class="techIcons">
              <img src="../../../assets/img/myprojects/Skill_Icon_HTML.png" alt="">
              <img src="../../../assets/img/myprojects/Skill_Icon_CSS.png" alt="">
              <img src="../../../assets/img/myprojects/Skill_Icon_JS.png" alt="">
            </div>
          </div>
          <div class="projectScreenshot">
            <img src="../../../assets/img/myprojects/pollo.png" alt="">
          </div>
          <div class="testAndGitLinks">
            <a href="https://daniel-grabowski.developerakademie.net/devakademie/Kurs/Modul_12/El-Pollo-Loco/index.html" target="_blank" rel="noopener">Live Test</a>
            <a href="https://github.com/FrontendWookiee187/El-Pollo-Loco.git" target="_blank" rel="noopener">GitHub</a>
          </div>

        </div>
        </div>

        <div class="contentProjectTwo" #contentProjectTwo>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>Test Description 2</p>
          </div>
        </div>

        <div class="contentProjectThree" #contentProjectThree>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>Test Description 3</p>
          </div>
        </div>

        <div class="contentProjectFour" #contentProjectFour>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>Test Description 4</p>
          </div>
        </div>


        

      </div>
    </div>
  </div>
</section>
