<section class="myProjects">
  <div class="content-wrapper">
    <h1>My Projects</h1>

    <div class="myProjectsContent">
      <div class="myProjectsHeadlines">
        <div class="projectOne" (click)="switchProjectOne()">1</div>
        <div class="projectTwo" (click)="switchProjectTwo()">2</div>
        <div class="projectThree" (click)="switchProjectThree()">3</div>
        <div class="projectFour" (click)="switchProjectFour()">4</div>
      </div>

      <div class="aboutProject">
        <div class="contentProjectOne" #contentProjectOne>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>
              This App is a Slack Clone App.<br />
              It revolutionizes team communication and collaboration with its
              intuitive interface, real-time messaging, and robust channel
              organization.
            </p>
          </div>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>How I have organised my work process</h3>
            </div>
            <p>How do you keep your code clean and maintainable? ...</p>
          </div>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>My group work experience</h3>
            </div>
            <p>How many people were in the team and what was your role? ...</p>
          </div>
        </div>
        <div class="contentProjectTwo" #contentProjectTwo>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>Test Description 2</p>
          </div>
        </div>
        <div class="contentProjectThree" #contentProjectThree>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>Test Description 3</p>
          </div>
        </div>

        <div class="contentProjectFour" #contentProjectFour>
          <div class="aboutSection">
            <div class="aboutRow">
              <img
                class="ellipseIcon"
                src="../../../assets/img/myprojects/Ellipse 8.png"
                alt=""
              />
              <h3>
                About the project
                <span class="duration">Duration: 3 weeks</span>
              </h3>
            </div>
            <p>Test Description 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
