<section class="heroSection" id="heroSection">

    <div class="pictureAndName" id="pictureAndName">
        <div class="picture" id="picture">
                
                <img class="shape" src="./../../../assets/img/hero/BG_shape.png" alt="">
                <img class="subjectPic" src="./../../../assets/img/hero/subject_3.png" alt="">

        </div>
        <div class="nameAndJobname">
            <img src="./../../../assets/img/hero/LOGO.png" alt="">
            <div class="nameField" id="nameField">Daniel Grabowski</div>
            <div class="jobNameField" id="jobNameField">FRONTEND DEVELOPER</div>
        </div>
    </div>

    <div class="socialLinks">       
        <div><img src="./../../../assets/img/hero/Email button.png" alt=""></div>
        <div><img src="./../../../assets/img/hero/Github button.png" alt=""></div>
        <div><img src="./../../../assets/img/hero/Linkedin button.png" alt=""></div>
    </div>

</section>

<div><app-navbar></app-navbar></div>
