<div class="burgerMenu" [class.active]="menuActive" (click)="toggleOverlay()">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="overlay" [class.visible]="menuActive ">

<ul class="overlayMenu">
<li><a (click)="toggleOverlay()" href="#whyMe">{{ 'navbar.whyMe' | translate }}</a></li>
    <li><a (click)="toggleOverlay()" href="#mySkills">{{ 'navbar.skills' | translate }}</a></li>
    <li><a (click)="toggleOverlay()" href="#myProjects">{{ 'navbar.projects' | translate }}</a></li>
    <li><a (click)="toggleOverlay()" href="#contactMe">{{ 'navbar.contact' | translate }}</a></li>
    <li class="language-switch">
      <p (click)="switchLanguage('de')">DE</p>
        <span class="language-divider">|</span>
      <p (click)="switchLanguage('en')">EN</p>
    </li>
</ul>


</div>

<section class="heroSection" id="heroSection">
<div class="content-wrapper">
    <div class="pictureAndName" id="pictureAndName">
        <div class="picture" id="picture">
                
                <img class="shape" [class.animated]="shapeHovered" src="assets/img/hero/BG_shape.png" alt="">
                <div class="shape-hover-area"
                (mouseenter)="shapeHovered = true"
                (mouseleave)="shapeHovered = false">              
                </div>
                <img class="subjectPic" src="assets/img/hero/grabo_portfolio.png" alt="">

        </div>
        <div class="nameAndJobname">
            <img class="hero-logo" src="assets/img/hero/logo_dg1.png" alt="">
            <div class="nameField" id="nameField">{{ 'landingPage.name' | translate }}</div>
            <div class="jobNameField" id="jobNameField">{{ 'landingPage.job' | translate }}</div>

            <div class="arrowDown"> <a href="#whyMe"><img src="assets/img/hero/Arrow down.png" alt=""></a></div>
        </div>
         
    </div>

   

    <div class="socialLinks">       
        <div> <a href="mailto:info@grabowski-daniel.de"><img src="assets/img/hero/Email button.png" alt=""></a></div>
        <div> <a href="https://github.com/FrontendWookiee187" target="_blank" rel="noopener"> <img src="assets/img/hero/Github button.png" alt=""></a></div>
        <div><a href="https://www.linkedin.com/in/daniel-grabowski-3a1479250/" target="_blank" rel="noopener"><img src="assets/img/hero/Linkedin button.png" alt=""></a></div>
    </div>
</div>



</section>


