.heroSection {
  // height: 100vh;
  width: 100vw;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  overflow: hidden;  
  
}

.pictureAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  
  gap: 48px;
}

.picture {
  position: relative;
  width: 350px;
  height: 550px;
  min-width: 350px;

  .shape {
    position: absolute;
    left: -8%;
    top: 10%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    transform: scale(2);
    background: none;
  }
  .subjectPic {
    position: absolute;   // <--- Diese Zeile entfernen!
    z-index: 2;
    background: none;
    width: 450px;
    height: 550px;
    left: -12%;             // ggf. anpassen oder entfernen
  }
}

.nameAndJobname {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-left: 5%;
  min-height: 300px;

  > img {
    width: 66px;
    height: 73px;
    margin-bottom: 16px;
  }
  .nameField {
    font-size: 42px;
    font-family: 'Anta', sans-serif;
    color: #fff;
    line-height: 1;
    text-align: center; 
  }
  .jobNameField {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 8px;
    font-weight: 400;
    text-align: center; 
  }
}

.socialLinks {
  position: absolute;
  right: 48px;
  top: 10%; 
  transform: translateY(-40%);
  display: flex;
  flex-direction: column;
  gap: 16px;

  > div > img {
    width: 32px;
    height: 32px;
  }
}


.arrowDown{
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  width: 38px;
  height: 89px;
}