<div class="burgerMenu" [class.active]="menuActive" (click)="toggleOverlay()">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="overlay" [class.visible]="menuActive ">

<ul class="overlayMenu">
<li><a href="#whyMe">Why me</a></li>
    <li><a href="#mySkills">Skills</a></li>
    <li><a href="#myProjects">Projects</a></li>
    <li><a href="#contactMe">Contact</a></li>
    <li class="language-switch">
      <a href="#">DE</a>
      <a href="#">EN</a>
    </li>
</ul>


</div>

<section class="heroSection" id="heroSection">
<div class="content-wrapper">
    <div class="pictureAndName" id="pictureAndName">
        <div class="picture" id="picture">
                
                <img class="shape" src="./../../../assets/img/hero/BG_shape.png" alt="">
                <img class="subjectPic" src="./../../../assets/img/hero/subject_3.png" alt="">

        </div>
        <div class="nameAndJobname">
            <img src="./../../../assets/img/hero/logo_dg1.png" alt="">
            <div class="nameField" id="nameField">Daniel Grabowski</div>
            <div class="jobNameField" id="jobNameField">FRONTEND DEVELOPER</div>

            <div class="arrowDown"> <a href="#whyMe"><img src="./../../../assets/img/hero/Arrow down.png" alt=""></a></div>
        </div>
         
    </div>

   

    <div class="socialLinks">       
        <div><img src="./../../../assets/img/hero/Email button.png" alt=""></div>
        <div> <a href="https://github.com/FrontendWookiee187" target="_blank" rel="noopener"> <img src="./../../../assets/img/hero/Github button.png" alt=""></a></div>
        <div><a href="https://www.linkedin.com/in/daniel-grabowski-3a1479250/" target="_blank" rel="noopener"><img src="./../../../assets/img/hero/Linkedin button.png" alt=""></a></div>
    </div>
</div>



</section>

<app-navbar class="navbar"></app-navbar>
