<section class="whyMe" id="whyMe">
    <p style="color: white;">Test</p>
    <div class="content-wrapper">

<div class="whyMeContent">
    <!-- <div>{{ 'why-me.title' | translate }}</div>
    <div>{{ 'why-me.hello' | translate:{name} }}</div> -->

<h1>{{ 'why-me.title' | translate }}</h1>

<div class="locationAndSelf">

<div class="location">
    <img src="assets/img/whyme/icon.png" alt="">
    <span class="iamLocated">{{ 'why-me.location1' | translate }}</span>&nbsp;<span>{{ 'why-me.location2' | translate }}</span>
</div>

<div class="self">
{{ 'why-me.self' | translate }}

   <a href="#contactMe" class="talkLink"><img src="assets/img/whyme/Button Secondary Web.png" alt=""></a>
</div>


</div>




</div>





        
    </div>

</section>
