.content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
    color: #89BCD9;
    font-family: 'Anta';
    font-size: 42px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 400;

}

.whyMeContent{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationAndSelf{
  display: flex;
  flex-direction: row;
  gap: 62px;
}

.location{
  height: 53px;
    display: flex;
    flex-direction: row;    
    color: white;
    font-family: 'Josefin Sans';
    font-size: 20px;
    white-space: nowrap;
      >img{
        width: 64px;
        height: 53px;
        align-self: center;
        
      }
}

.iamLocated,
  span {
    align-self: center; // Text bleibt auf der gleichen Höhe wie das Bild
  }

.iamLocated{
  color: #89BCD9;
  font-weight: 700;
}

.self{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6; 
  word-wrap: break-word; 
  white-space: normal; 
  max-width: 400px; 
  text-align: left; 
  align-items: end;
    >img{
      margin-top: 18px;
      height: 54px;
      width: 134px;
    }
}

@media (max-width: 850px){

.locationAndSelf{
  flex-direction: column;
  gap: 36px;
  margin-right: -50px;
  
}

.location {
    margin-left: -24px; 
  }

.self{
  align-items: center;
  text-align: center;
}

}

@media (max-width: 515px){

  .content-wrapper {
    max-width: 390px;
  }

  h1{
    font-size: 36px;
  }

  .locationAndSelf{
    margin-right: -30px;
    white-space: unset;

  }

  .location{
    font-size: 16px ;
    white-space: unset;
    margin-left: 8px;
    >img{
      width: 32px;
      height: 40px;
    }
  }

  .iamLocated{
    white-space: nowrap;
    
  }

    .self{
  font-size: 16px;
  line-height: 1.4; /* Reduziert den Zeilenabstand */
    max-width: 90%; /* Dynamische Breite, um Platz zu schaffen */
    text-align: justify; /* Verteilt den Text gleichmäßig */
    padding: 0 16px; /* Zusätzlicher Abstand vom Rand */
}

}

@media (max-width: 400px){

  .locationAndSelf{
    margin-left: 30px;

  }

.iamLocated{
    white-space: nowrap;
    margin-top: -17px;
  }

  .location{
    width: 300px;
  }

}