<section class="whyMe">

    <div class="content-wrapper">

<div class="whyMeContent">

<h1>Why me</h1>

<div class="locationAndSelf">

<div class="location">
    <img src="./../../../assets/img/whyme/icon.png" alt="">
    <span class="iamLocated">I am</span>&nbsp;<span>located in Ketzin (Berlin/Potsdam area)</span>
</div>

<div class="self">
I'm just starting my journey as a developer – driven
by a passion for technology, creative problem-solving,
and clean code. With strengths like analytical thinking,
perseverance, and teamwork, I quickly adapt to new challenges.
I'm excited to apply my knowledge in real-world projects and
contribute to building user-friendly applications as part of a team.
</div>


</div>




</div>





        
    </div>

</section>
