<footer>


<div class="content-wrapper">

<div class="legalNoticeAndCopyright">
    <span class="legalNotice">Legal notice</span>
    <span class="copyRight">&#169;  Daniel Grabowski 2025</span>
</div>

<div class="logo">
    <img src="assets/img/footer/logo_dark1.png" alt="">
</div>

<div class="socialLinks">
    <img src="assets/img/footer/Github button.png" alt="">
    <img src="assets/img/footer/Email button.png" alt="">
    <img src="assets/img/footer/Linkedin button.png" alt="">
</div>

</div>


</footer>