<footer>


<div class="content-wrapper">

<div class="legalNoticeAndCopyright">
    <a routerLink="/imprint" class="legalNotice">{{ 'footer.legalNotice' | translate }}</a>
    <span class="copyRight">&#169;  Daniel Grabowski 2025</span>
</div>

<div class="logo">
    <img src="assets/img/footer/logo_dark1.png" alt="">
</div>

<div class="socialLinks">
    <a href="https://github.com/FrontendWookiee187" target="_blank" rel="noopener"><img src="assets/img/footer/Github button.png" alt=""></a>
    <a href="mailto:info@grabowski-daniel.de"><img src="assets/img/footer/Email button.png" alt=""></a>
    <a href="https://www.linkedin.com/in/daniel-grabowski-3a1479250/" target="_blank" rel="noopener"><img src="assets/img/footer/Linkedin button.png" alt=""></a>
</div>

</div>


</footer>