<section class="references" id="references">
  <div class="content-wrapper">
    <h2>
  <span class="teamplayer">Need a teamplayer?</span>
  <span class="colleagues">Here what my colleagues said about me</span>
</h2>
    <div class="referencesContent">
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Sahra Mueller</div>
          <div class="referenceProject">Project DA Bubble</div>
          <div class="referenceQuote">
            “Claudia had to develop, format and deliver content in collaboration with the team members. She is a reliable and friendly person.”
          </div>
          <a class="referenceLink" href="#">Linked In Profile</a>
        </div>
      </div>
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">James Rugman</div>
          <div class="referenceProject">Project Join</div>
          <div class="referenceQuote">
            “Claudia is a reliable and friendly person. Works in a structured way and write a clear code. I recommend her as a colleague.”
          </div>
          <a class="referenceLink" href="#">Linked In Profile</a>
        </div>
      </div>
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Evelyn Marx</div>
          <div class="referenceProject">Project Sharkie</div>
          <div class="referenceQuote">
            “She is a trustworthy teamplayer and can cope with the stress of deadlines. Structured work and clear code.”
          </div>
          <a class="referenceLink" href="#">Linked In Profile</a>
        </div>
      </div>
    </div>
  </div>
</section>