.references {
  
  padding: 48px 0 64px 0;


  

  h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #89BCD9;
    font-size: 32px;
    text-align: center;
    margin-bottom: 56px;
    margin-top: 0;
  }

  .referencesContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
  }

  .referenceBubble {
    position: relative;
    width: 340px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .referenceBubble img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .referenceText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
  }

  .referenceName {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    background: transparent;
  }

  .referenceProject {
    font-size: 16px;
    color: #89BCD9;
    margin-bottom: 18px;
    background: transparent;
  }

  .referenceQuote {
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 400;
    background: transparent;
  }

  .referenceLink {
    color: #89BCD9;
    font-size: 15px;
    text-decoration: underline;
    transition: color 0.2s;
    background: transparent;
    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 570px){

  .references {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 24px; 
    margin-top: 32px;
  }

  .content-wrapper {
    max-width: 390px; 
    margin: 0 auto; 
  }

  .referencesContent {
    display: flex;
    flex-direction: row; 
    gap: 16px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    padding-bottom: 16px; 
    width: 390px;      /* Feste Breite für den Scrollbereich */
    max-width: 100%;
    
    
  }

  .references .referencesContent{

    flex-wrap: nowrap;
    justify-content: unset;
  }

  .referencesContent::-webkit-scrollbar {
    display: none; 
  }

  .referenceBubble {
    flex: 0 0 auto;
    width: 340px; 
    height: 340px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }

  .referenceText {
    font-size: 14px; 
    text-align: center; 
  }

  .references h2 {
    text-align: center; 
    margin-bottom: 38px; 
  }

  .teamplayer {
    font-family: 'Anta', sans-serif; 
    font-size: 32px; 
    color: #89BCD9; 
    display: block; 
  }

  .colleagues {
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 18px; 
    color: #fff; 
    display: block; 
    margin-top: 8px; 
  }

}

