<section class="references" id="references">
  <div class="content-wrapper">
    <h2>
  <span class="teamplayer">{{ 'references.title' | translate }} &nbsp;</span>
  <span class="colleagues">{{ 'references.subtitle' | translate }}</span>
</h2>
    <div class="referencesContent">
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Morteza Chinahkash</div>
          <div class="referenceProject">{{ 'references.reference1.project' | translate }}</div>
          <div class="referenceQuote">
            {{ 'references.reference1.quote' | translate }}
          </div>
          <a class="referenceLink" href="https://www.linkedin.com/in/morteza-chinahkash/">{{ 'references.linkedIn' | translate }}</a>
        </div>
      </div>
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Gary Angelone</div>
          <div class="referenceProject">{{ 'references.reference2.project' | translate }}</div>
          <div class="referenceQuote">
            {{ 'references.reference2.quote' | translate }}
          </div>
          <a class="referenceLink" href="https://www.linkedin.com/in/gary-angelone-3209a71a/">{{ 'references.linkedIn' | translate }}</a>
        </div>
      </div>
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Joshua Brunke</div>
          <div class="referenceProject">{{ 'references.reference3.project' | translate }}</div>
          <div class="referenceQuote">
            {{ 'references.reference3.quote' | translate }}
          </div>
          <a class="referenceLink" href="https://www.linkedin.com/in/joshua-brunke/">{{ 'references.linkedIn' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</section>