<section class="references" id="references">
  <div class="content-wrapper">
    <h2>
  <span class="teamplayer">{{ 'references.title' | translate }} &nbsp;</span>
  <span class="colleagues">{{ 'references.subtitle' | translate }}</span>
</h2>
    <div class="referencesContent">
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Sahra Mueller</div>
          <div class="referenceProject">{{ 'references.reference1.project' | translate }}</div>
          <div class="referenceQuote">
            {{ 'references.reference1.quote' | translate }}
          </div>
          <a class="referenceLink" href="#">{{ 'references.linkedIn' | translate }}</a>
        </div>
      </div>
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">James Rugman</div>
          <div class="referenceProject">{{ 'references.reference2.project' | translate }}</div>
          <div class="referenceQuote">
            {{ 'references.reference2.quote' | translate }}
          </div>
          <a class="referenceLink" href="#">{{ 'references.linkedIn' | translate }}</a>
        </div>
      </div>
      <div class="referenceBubble">
        <img src="assets/img/references/References shape.png" alt="">
        <div class="referenceText">
          <div class="referenceName">Evelyn Marx</div>
          <div class="referenceProject">{{ 'references.reference3.project' | translate }}</div>
          <div class="referenceQuote">
            {{ 'references.reference3.quote' | translate }}
          </div>
          <a class="referenceLink" href="#">{{ 'references.linkedIn' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</section>