<section class="contactMe" id="contactMe">
  <div class="content-wrapper">
    <h1>Contact Me</h1>
    <div class="contactContent">
      <!-- Linke Spalte: Text und Kontaktinfos -->
      <div class="contactContentWrapper">

        <div class="workTogether"> Let us work together!</div>

        <div class="contactText">
          Interested in working together?<br>
          I'm currently looking for full-time opportunities as a Frontend Developer.
          If you're working on projects where clean code, attention to detail, and user-focused design matter, I’d love to contribute and grow with your team.
          Feel free to get in touch regarding job offers or opportunities where I can make a positive impact.
        </div>
        <div class="mailAndPhone">
          <div class="mail">
            <img src="assets/img/contact/icon _email.png" alt="">
            <span>rasen_karotte27&#64;icloud.com</span>
          </div>
          <div class="phone">
            <img src="assets/img/contact/icon _phone.png" alt="">
            <span>0157 123 456 68</span>
          </div>
        </div>
        
      </div>
      <!-- Rechte Spalte: Formular -->
      <form class="contactForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="nameAndMailWrapper">
          <div class="yourName">
            <label for="name">Your name</label>
            <input [(ngModel)]="contactData.name" name="name" id="name" type="text" placeholder="Your name" required [ngClass]="{'ng-submitted': contactForm.submitted && contactForm.controls['name'].invalid}">
          </div>
          <div class="yourEmail">
            <label for="email">Your Email</label>
            <input [(ngModel)]="contactData.email" name="email" id="email" type="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" [ngClass]="{'ng-submitted': contactForm.submitted && contactForm.controls['email'].invalid}">
          </div>
        </div>
        <div class="yourMessage">
          <label for="message">Your Message</label>
          <textarea [(ngModel)]="contactData.message" name="message" id="message" minlength="4" #message="ngModel" [(ngModel)]="contactData.message" placeholder="Your message" required [ngClass]="{'ng-submitted': contactForm.submitted && contactForm.controls['message'].invalid}"></textarea>
          
          @if (!message.valid && message.touched) {
            <span>Please enter message</span>
          }
        
        </div>
        <div class="privacyPolicy">
          <img src="assets/img/contact/Check box.png" alt="">
          <span>
            I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
          </span>
        </div>
        <button class="sendButton" value="submit">Send</button>
      </form>
      <div class="scrollTop">
        <a href="#heroSection"><img src="assets/img/contact/Arrow_up.png" alt="Scroll to top"></a>
      </div>
    </div>
  </div>
</section>