<section class="contactMe" id="contactMe">
  <div class="content-wrapper">
    <h1>Contact Me</h1>
    <div class="contactContent">
      <!-- Linke Spalte: Text und Kontaktinfos -->
      <div>
        <div class="contactText">
          Interested in working together?<br>
          I'm currently looking for full-time opportunities as a Frontend Developer.
          If you're working on projects where clean code, attention to detail, and user-focused design matter, I’d love to contribute and grow with your team.
          Feel free to get in touch regarding job offers or opportunities where I can make a positive impact.
        </div>
        <div class="mailAndPhone">
          <div class="mail">
            <img src="../../../assets/img/contact/icon _email.png" alt="">
            <span>rasen_karotte27&#64;icloud.com</span>
          </div>
          <div class="phone">
            <img src="../../../assets/img/contact/icon _phone.png" alt="">
            <span>0157 123 456 68</span>
          </div>
        </div>
        
      </div>
      <!-- Rechte Spalte: Formular -->
      <form class="contactForm">
        <div class="nameAndMailWrapper">
          <div class="yourName">
            <label for="name">Your name</label>
            <input id="name" type="text" placeholder="Your name">
          </div>
          <div class="yourEmail">
            <label for="email">Your Email</label>
            <input id="email" type="email" placeholder="Your email">
          </div>
        </div>
        <div class="yourMessage">
          <label for="message">Your Message</label>
          <textarea id="message" placeholder="Your message"></textarea>
        </div>
        <div class="privacyPolicy">
          <img src="../../../assets/img/contact/Check box.png" alt="">
          <span>
            I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.
          </span>
        </div>
        <button class="sendButton" type="submit">Send</button>
      </form>
      <div class="scrollTop">
        <img src="../../../assets/img/contact/Arrow_up.png" alt="Scroll to top">
      </div>
    </div>
  </div>
</section>